.about2-img-top{
    width: 100px;
}
.about2{
    border: 1px solid  #d6cfcf;
    border-radius: 5px;
    width:200px;
    height:300px ;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.about2:hover{
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s ease;
}
.left-last-about {
    padding-top: 5px;
  
    border-top: 1px solid #d6cfcf;;
font-size: 12px;
display: flex;
text-align: center;
}
.left-last-about a{
    text-decoration: none;
    color: #7E7E7E;
    width: 100px;
}
.card-body2{
    text-align: center;
}
.about2 img{
    border-radius: 50%;
}