.eventlistsingle{
   max-width: 1530px;
    height: 600vh;
}
.eventsingle-photo{
    background: linear-gradient(120deg,rgba(28, 73, 186, 0.7),rgba(223, 8, 159, 0.7)), url('../assets//images//photo1.jpg');
    background-size: cover;
        height: 60vh;
}
.eventsingle-h1-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.eventsingle-h1-p h1{
    color: #fff;
}
.ux-ui{
    display: flex;
    padding-top: 50px;
}
.ux-ui-ro{
    display: flex;
}
.ux-ui-1{
    flex-basis: 60%;
    
}
.ux-ui-1 img{
  max-width: 900px;
}

.ux-ui-2{
    flex: 1;
    /* padding-left: 50px; */
   
}
.ux-ui-2-big{
    width: 300px;
}
.ux-ui-1 h1{
    color: #fff;
    position: absolute;
    z-index: 2;
padding-top: 400px;
padding-left: 600px;
font-size: 34px;

}

.event-details{
   
display: flex;
flex-direction: column;
justify-content: center;
    border: 1px solid #7E7E7E;
    width: 300px;
    height: 254px;
    padding-left: 20px;
    
}
.event-details a{
    padding-top: 20px;
    text-decoration: none;
    color:#7E7E7E ;
}
.event-details-2{
    margin-top: 30px;
    width: 300px;
    height: 460px;
    border: 1px solid #7E7E7E;
    /* padding-left: 20px; */
}
.event-details-2 a{
    display: flex;
    align-items: center;
    color: #7E7E7E;
    text-decoration: none;
    padding-top: 20px;
}
.event-description{
    padding-top: 30px;
}
.event-content{
    padding-top: 30px;
}

.event-content li{
    padding-top: 10px;
}
.share-li ul{
    display: flex;
  

    max-width: 982px;
    height: 48px;
    font-size: 20px;
  

}
.share-li li{
    list-style: none;
    padding: 7px 15px;
   display: flex;
   color: #7E7E7E;
}
.share-li p{
    margin: 0;
    height: 48px;
    font-size: 22px;
    justify-content: center;
   
}
.tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 300px;
    height: 190px;
    border: 1px solid #6F7074;
}
.tags h4{
    color: #494848;
    font-size: 20px;
    letter-spacing: 2px;
}
.main-button{
    display: flex;
    flex-direction: column;
   
}
.main-button button{
    padding: 3px 15px;
    margin: 5px;
    border-radius: 25px;
    border: transparent;
    color: #4F4F4F;
    cursor: pointer;
}
.event-participants{
    max-width: 960px;
    height: 280px;
padding-top: 30px;
   
}
.event-participants h4{
color: #232222;
}
.event-participants-props{
    display: flex;
    
}
.warren{
    width: 960px;
    height: 964px;
   border: 1px solid #c9c3c3;
   padding: 20px 30px;
   display: flex;
   flex-direction: column;
}
.warren-left{
    flex-basis: 15%;
    
}
.warren-left img{
    padding-top: 10px;
}
.warren-right{
    flex: 1;
  
}
.warren-main{
    padding: 150px;
}
.warren button{
    width: 234px;
    padding: 10px 20px ;
    border: 2px solid #2441E7;
    border-radius: 25px;
    color: #2441E7;
    background-color: #fff;
}
.warren button:hover{
background-color: #2441E7;
transition: all .5s ease;
color: #fff;
}
.warren-button{
   display: flex;
   justify-content: center; 
}
.rate{
 
  margin-top: 50px;
    width: 960px;
    height: 560px;
    border: 1px solid #b5b9b9;
    padding: 50px;
  
}

.rate-p-li{
    display: flex;
}
.rate-input{
  
    display: flex;
   
 
 
}
.rate-input1{

    display: flex;
    flex-direction: column;
}

.rate-input1 input{
    width: 653px;
    height: 48px;
    border-radius: 5px;
   border: 1px solid #b4b2b2;
}
.rate-input2{
   margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.rate span{
    color: #555555;
}
.rate p a{
    padding: 3px;
  font-size: 20px;
  color: rgb(225, 225, 16);
}
.rate label{
    padding: 20px;
    color: #555555;
}
.rate-button{
    margin-top: 20px ;
}
.rate-button button{
    padding: 15px 40px;
    background-color: #2441E7;
    color: #fff;
    border-radius: 5px;
    border: transparent;

}
.rate-button button:hover{
    color:#2441E7 ;
    background-color: #fff;
    border: 1px solid #2441E7;
    transition: all .3s ease;
}
.event-participants.container{
    margin: 0;
}


@media(max-width:1300px){
    .ux-ui-1 img{
        width: 700px;
    }
}
@media(max-width:1100px){
    .ux-ui-1 img{
        width: 600px;
    }
}
@media(max-width:1020px){
    .rate{
        width:700px
    }
}
@media(max-width:992px){
    .eventlistsingle{
        height: 1000vh;
    }
    .event-description,.event-content{
        width: 480px;
    }
    .warren{
        width:700px;
      margin-top:180px
    }
}
@media(max-width:768px){
    .warren{
        width:500px;
        height: 1020px;
      margin-top:180px
    }
    .rate{
        width:450px;
        margin-top:300px
    }
    .warren{
        height: 180vh;
     
    }
    .rate-input1 input{
width: 360px;
    }
    .ux-ui-2{
        margin-top: 30px;
    }
    }

@media(max-width:720px){
    .ux-ui-1 img{
        width: 400px;
    }
}
@media(max-width:576px){
    .event-participants-props{
        display: flex;
        flex-direction: column;
   
    }
    .event-description,.event-content{
        width: 360px;
    }
    .warren{
        padding: 20px 10px;
        width:350px;
      margin-top:550px
    }
}
@media(max-width:500px){
    .ux-ui-1 img{
        width: 350px;
    }
    .event-details-2 iframe{
        width: 150px;
    }
   .event-content li{
padding: 5px;
   }
   .rate{
    width:350px;
    padding: 10px;
   }
   .rate-input1 input{
    width:300px
   }
   .event-participants-props{
    max-width:350px;
    margin: 0;
   }
   .ux-ui-1{
    width:350px;
   }
}




     
      