.details{
  display: flex;
  flex-direction: column; 
  position: absolute;
  z-index: 2;
height: 150px;
width: 300px;
  color: #fff;
  justify-content: center;
 align-items: center;


}

.details h5{
  font-size: 18px;
}
.details p{
  font-size: 15px;
}

.img1 img{
 margin-bottom:  30px;

}

.detailsImg.col-12.col-md-6.col-lg-3:hover{
  transform: translateY(-15px);
  transition: all .6s ease;
}

@media(max-width:1200px){
    .details{
        
        width: 200px;
        height: 100px;
    }
}
@media(max-width:990px){
    .details{
    
      width: 336px;
      height: 175px;
    }
}
@media(max-width:778px){
    .details{
 width: 516px;
 height: 268px;

    }

}
@media(max-width:500px){
  .details{
    width: 360px;
    height: 205px;
  }
  .detailsImg img{
    width: 360px;
    height: 205px;
  }
}

