.enhance{
   margin-top:50px;
   max-width:1530px;
    height: 60vh;
    background-image: url(https://creativelayers.net/themes/edumy-html/images/background/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    background-position: center;
   
}
.enhance::before{
 
    content: "";
    width: 1530px;
    height: 500px;
    background-image: linear-gradient( 135deg, rgb(8, 27, 136) 0%, rgb(9, 19, 96) 100%);
    opacity: 0.8;
    position: absolute;
    }
    .enhance1{
        position: absolute;
        z-index: 2;
        display: flex;
   flex-direction: column;
   height: 80vh;
   justify-content: center;
   align-items: center;
   position: relative;
   color: #fff;
    }
    .enhance1  button{
        padding:10px 60px;
        border-radius: 25px;
        background-color:transparent;
        color:#fff;
        border:2px solid #fff;
        margin-top: 30px;
        position: relative;
        transition: all .6s ease;
      
    }
    .enhance1 button:hover{
        background-color: #0b32b5;
        color: #fff;
       
    
    }
  