.enhance{
   margin-top:50px;
   max-width:1530px;
    height: 60vh;
  
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    background-position: center;
    background: linear-gradient(120deg,rgba(1, 44, 154, 0.7),rgba(1, 4, 28, 0.7)), url('../assets//images//enhance-photo.jpg');

}

    .enhance1{
        position: absolute;
        z-index: 2;
        display: flex;
   flex-direction: column;
   height: 80vh;
   justify-content: center;
   align-items: center;
   position: relative;
   color: #fff;
  
    }
    .enhance1  button{
        padding:10px 60px;
        border-radius: 25px;
        background-color:transparent;
        color:#fff;
        border:2px solid #fff;
        margin-top: 30px;
        position: relative;
        transition: all .6s ease;
      
    }
    .enhance1 button:hover{
        background-color: #0b32b5;
        color: #fff;
       
    
    }
  