.appleIconYazi{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.propsfooterbutton h1{
    color: #fff;
    font-size: 20px;
}
.propsfooterbutton button{
display: flex;
flex-direction: column;
background-color: #000;
border: transparent;
padding: 5px;
}
.propsfooterbutton {
    
}