
.footer-one{
    max-width: 1530px;
    background-color: #222;
    padding-top: 50px;
}
.footer-last h4{
    color: #fff;
    width: 230px;
   }
.footer-last-1{
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

}
.footer-last.col-sm-6.col-md-6.col-md-3.col-lg-3{
    width: 230px;
}
.last1-a{
    font-size: 35px;
}
.last1-a2{
    font-size: 20px;
    color: #fff;
}
.last1-a3{
color: #969696;
}
.last1-a2-a3{
    margin-left: 10px;
    
}
.footer-last-1:hover{
    background-color: #3452FF;
    transition: all .5s ease;
    color: #fff;
}
.footer-last{
    padding: 0;
}
.footer-last-1{
    width: 230px;
    height: 80px;
    padding: 0;
   } 
   .footer-left1{
    display: flex;
    align-items: center;

}
.firts-footer,.second-footer,.third-footer,.fourth-footer{
    width: 220px;
    height: 223px;
}
.footer-middle{
    max-width: 1530px;
    background-color: #222;
    border-top: 1px solid #575757;
    padding:10px ;
}
.footer-middle-ro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer-left1 h1{
    color: #fff;
    font-size: 22px;
    padding: 0 15px ;
    border-right: 1px solid#aaa;
    }
    
    .footer-left2 a{
        text-decoration: none;
        color: #aaa;
       padding: 15px;
    
    }
    .footer-navbar-right-side a{
        color: #aaa;
        padding: 10px;
    }
    .footer-navbar-right-side a:hover{
        color:#fff;
    }
    .footer-left2 a:hover{
        color: #fff;
    }
    .footer-bottom{
        max-width: 1530px;
        background-color: #000;
        padding: 20px 0;
       
    }
    @media(max-width:992px){
        .footer-left2.col-sm-8.col-md-5.col-lg-6.col-xl-6 a{
            padding: 5px;
           
        }
        .footer-left2.col-sm-8.col-md-5.col-lg-6.col-xl-6{
            width: 400px;
        }
        .footer-navbar-right-side {
          margin-left: 5px;
        }
     
   
    }
