
.navbar-expand-lg{
    width: 100%;
    padding: 0;
}
.container-fluid{
padding:0 50px;
display: flex;
justify-content: space-between;
z-index: 2;
position: sticky;
top: 0;
background-color:transparent;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
position: fixed;
height: 87px;
max-width: 1230px;
top: 0;
left: 0;
z-index: 100;
transition: all .5s ease;
}
.container-fluid.fluid2{
    max-width: 1230px;
}
.container-fluid.fluid2.fixed{
background-color:#fff;
transition: .5s ease-in-out;
}
.container-fluid.fluid2.fixed a span{
color: #000;

}
.container-fluid.fluid2.fixed a.nav-link.dropdown-toggle.text-white::after{
  
    color:#000
}
.container-fluid.fluid2.fixed a img{
    background-color:#192675;
}
.container-fluid.fluid2.fixed .icon a{
    color: #000;

}
a span{
    color: #fff;
   
}


.icon{
    position: relative;
    left:25%;
   
}
.icon span{
    font-size: 18px;
    padding-left: 10px;
    color: #aaa;
}
.icon span:hover{
    color:#fff;
    transition: color .8s ease;
}
.icon a{
    color: #fff;
padding:6px 12px;
    text-decoration: none;
    font: 30px;
    border-right: 1px solid #aaa;
}
.icon a sup{
    padding: 0 2px;
    background-color:#192675;
    color: #fff;
}
.container-fluid{
    border-bottom: 1px solid #aaa;
    
}
a.nav-link.text-white{
 
   padding:30px 35px 30px 10px;
}


 .nav-item.dropdown{
padding-right: 30px;
 }



@media(max-width:1440px){
    .icon{
        left:10%;
    }
}
@media(max-width:1240px){
    a.nav-link.dropdown-toggle.text-white{
        padding:30px 20px 30px 5px;
     }
     .icon{
        left:5%;
    }

}
@media(max-width:1090px){
    .icon span{
display: none;
    }
}


.dropdown-menu{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding:10px  40px;
  padding-left: 10px;
    color: #000;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}
.menu-1{
  position: relative;
    right: 10px;
}

.eventslink{
    color: #000;
    text-decoration: none;
    display: flex;
  

}
.eventslink:hover ,.courseslink:hover{
   color: #000;
    background-color: #dee1e8;
}
.courseslink{
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.overlay a{
    color: #aaa;
    text-decoration: none;
    font-size: 40px;
    transition: color .3s ease;
}
.overlay a:hover{
    color: #fff;
  
}
.gicross-icon{
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    right: 45px;
    top: 65px;
}
.overlay{
    height: 100vh;
    background-color: rgba(0, 0, 0,.8);
    position: fixed;
    width: 0;
    z-index: 5;
    top: 0;
    left: 0;
    transition: width 1.7s ease;
    overflow-x: hidden;
}
.overlay .nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.aktif{
  width: 100%;
}
.bars-icon{
    color: #fff;
    font-size: 40px;

}
.searchicon{
    color: #ffffff;
   
}
@media(max-width:991px){
    .container-fluid.fluid2{
        padding:0 20px;
    } 

}
