.newsletter{
    max-width:1530px;
    height: 70vh;
    background-color: #F9FAFC;
    
}
.newsletter-container{
    max-width:1530px;
    height: 70vh;
    background-color: #F9FAFC;
justify-content: center;
align-items: center;
    display: flex;
    flex-direction: column;

}
.newsletter-container p{
    font-size: 14px;
    color: #6F7074;
}
.input-button-news{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.input-button-news input{
 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
}
.input-button-news button{
    padding: 10px 15px;
    background-color:#2441E7;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;

}

@media(max-width:500px){
    .input-button-news {
        width: 360px;
    }  
}