.newsletter{
    width: 1530px;
    height: 50vh;
  position: relative;
  top: 220px;
  padding:  70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;


}
.inputbutton{
    display: flex;
    padding-top: 50px;
}
.inputbutton input{
    padding: 5px 40px;
position: relative;
right: 30px;
border-radius: 5px;
border:0.5px solid #dfd8d8
}
.inputbutton button{
    padding:0 10px;
    background-color:#2441e7;
    color: #fff;
    border: transparent ;
    font-size: 12px;
    border-radius: 5px;
}
.inputbutton button:hover{
    border:1px solid #2441e7;
    background-color: #fff;
    color:#2441e7 ;
    transition: 0.7s ease;
}
@media(max-width:1130px){
    .newsletter{
        top:80px;
        padding: 50px;
    }
}