.people{
   max-width:1530px;
padding-top: 70px;
background-color: #F9FAFC;
}
.autoswiper{
   width: 300px;
   margin: 0 auto;
}
.whatsay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
