.register-alfa{

    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 4;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-menu{
    background-color: #fff;
    width: 450px;
    height: 700px;

   
}
.register-navbar{
    display: flex;
}
.register-navbar a{
    padding: 20px 72px;
   
   text-decoration: none;
 color: #000;
 background-color:#fff;
}

.five-input input{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width:350px ;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #dedede;
  border-radius: 3px;
}
.register-h1-p{
 display: flex;
    flex-direction: column;
    text-align: center;
}
.register-h1-p h1{

    padding-top: 20px;
    font-size: 24px;
    color: #0A0A0A;

}
.register-h1-p p{
    font-size: 15px;
    color: #6F7074;


}
.checkbox-input-register{
    display: flex;
    align-items: center;
    position: relative;
    right: 40px;
    top: 10px;
  
}
.checkbox-input-register input{
   width: 100px;
   
}

.blue-input input{
    width: 450px;
    background-color: #192675;
    border: transparent;
    padding: 8px;
    border-radius: 3px;
}
.blue-input a{
  color:#fff;
  font-size: 18px;
position: relative;
top: 37px;
left: 50%;
background-color: #192675;
}


    .cross-icon2{
        color: #aaa;
        position: absolute;
        right: 45px;
        top: 25px;
        font-size: 30px;
    }
    .cross-icon2:hover{
        color: #fff;
    }


    
    .register-footer{
        display: flex;
    }
    .register-footer1 input{
background-color: #3B5998;
    }
    .register-footer2 input{
        background-color:  #Ea4335;
    }
    .register-footer input{
        padding: 5px 15px;
        border: transparent;
    }
    .register-footer span a{
        background-color: transparent;
        color: #fff;
        padding: 0;
position: relative;
top: 35px;
left: 100px;
    }
    .register-footer .face-icon{
        position: relative;
        top: 65px;
        color: #fff;
    }