.train{
    max-width: 1530px;
    height: 40vh;
background-color: #fff;
position: relative;
z-index:3;
padding: 60px 30px;
}
.train-h1-p p{
    color: #958f8f;
    font-size: 15px;
}
.train-h1-p {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.train-h1-p h1{
font-size: 26px;
}
.train1,.train2,.train3,.train4,.train5{
padding:  15px;
}
@media(max-width:768px){
    .train{
        height: 60vh;
    }
    }
@media(max-width:576px){
.train{
    height: 70vh;
}
}